<?php

namespace Application;

if (!getenv('APPLICATION_ENV')) {
    throw new \Exception('APPLICATION_ENV is not set. Refusing to run!');
}
if (!in_array(getenv('APPLICATION_ENV'), array('production', 'development'))) {
    throw new \Exception("APPLICATION_ENV must be either 'production' or 
        'development'! Detected '".  getenv('APPLICATION_ENV')."'");
}

return array(
    'modules' => array(
        'Application',
        'EdpModuleLayouts',
        'DoctrineModule',
        'DoctrineORMModule'
    ),
    'module_listener_options' => array(
        'config_cache_enabled'     => getenv('APPLICATION_ENV') === 'production' ? true: false,
        'module_map_cache_enabled' => getenv('APPLICATION_ENV') === 'production' ? true: false,
        'cache_dir'                => sys_get_temp_dir(),
        'config_glob_paths'    => array(
            __DIR__ . '/../config/autoload/{,*.}{global,local}.php',
            __DIR__ . '/../config/autoload/{,*.}' . (getenv('APPLICATION_ENV') === 'development' ? 'development': 'production') . '.php',
        ),
        'module_paths' => array(
            __DIR__ . '/../module',
            __DIR__ . '/../vendor',
        ),
    ),
);