<?php

namespace Application;

return array(
    'modules' => array(
        'Application',
        'DoctrineModule',
        'DoctrineORMModule'
    ),
    'module_listener_options' => array(
        'config_cache_enabled'     => getenv('APPLICATION_ENV') === 'production' ? true: false,
        'module_map_cache_enabled' => getenv('APPLICATION_ENV') === 'production' ? true: false,
        'cache_dir'                => sys_get_temp_dir(),
        'config_glob_paths'    => array(
            __DIR__ . '/../config/autoload/{,*.}{global,local}.php',
            __DIR__ . '/../config/autoload/{,*.}' . (getenv('APPLICATION_ENV') === 'development' ? 'development': 'production') . '.php',
        ),
        'module_paths' => array(
            __DIR__ . '/../module',
            __DIR__ . '/../vendor',
        ),
    ),
);