<?php

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_app' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => array(
                    'host' => '',
                    'port' => '',
                    'user' => '',
                    'password' => '',
                    'dbname' => ''
                )
            )
        )
    )
);